main{
    width: 80%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    text-transform: uppercase;
    font-size: 1.7rem;
}

li{
    list-style-type: none;
    line-height: 2rem;
    font-weight: bold;
}

a, a:visited{
    margin-top: 1em;
    font-weight: 700;
    color: black;
}

p.available{
    color: green;
}

p.borrowed{
    color: red;
}

button{
    /*padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;*/

    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #79b1fa;
    color: rgb(35, 35, 35);
    border: 2px solid #67a8fd;
    padding: 0 20px;
}

button:hover{
    background-color: #509afa;
}
